@model F1_Manager.Models.Cars.CarEdit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CarEdit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <input asp-for="CarId" class="form-control" />
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarName" class="control-label"></label>
                <input asp-for="CarName" class="form-control" />
                <span asp-validation-for="CarName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Engine" class="control-label"></label>
                <input asp-for="Engine" class="form-control" />
                <span asp-validation-for="Engine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorsePower" class="control-label"></label>
                <input asp-for="HorsePower" class="form-control" />
                <span asp-validation-for="HorsePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acceleration" class="control-label"></label>
                <input asp-for="Acceleration" class="form-control" />
                <span asp-validation-for="Acceleration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopSpeed" class="control-label"></label>
                <input asp-for="TopSpeed" class="form-control" />
                <span asp-validation-for="TopSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
