@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <img src="~/Images/mainhaas.jpeg" />
    </div>
    <p>Learn more about Haas and our mission statement <a href="https://hackajob.com/company/haas-f1-team">Here</a></p>
</div>
